
.DS_Store

build/
node_modules/
vendor/
.phpunit.result.cache
composer.lock
sonar-project.properties
.scannerwork
statistics.html
.phpunit.cache/
.phpunit.result.cache
execution-result.xml
coverage-result.xml