
parameters:
  inferPrivatePropertyTypeFromConstructor: true
  treatPhpDocTypesAsCertain: false
  bootstrapFiles:
    - %currentWorkingDirectory%/../../lib/base.php
  ignoreErrors:
    - '#Call to an undefined static method OCA\\DuplicateFinder\\Db\\EEntity::(s|g)et[A-Z].+\(\).#'
